<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>OBS - Overlay - Labels</title>
	<style>
		:root{
			--percent: 0.5;
		}

		body{
			background-color: rgba(0,0,0,0);
			overflow: hidden;
			margin: 0 auto;
			height: 1080px;
			width: 1920px;
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		.bar-goal{
			position: relative;
			height: 60px;
			width: 1280px;
			background-color: black;
		}

		.bg{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: white;
			transform-origin: left;
			transform: scaleX(var(--percent));
		}

		.text{
			font-weight: bolder;
			font-size: 1.5rem;
			height: 100%;
			position: relative;
		}

		.text > *{
			mix-blend-mode: difference;
			color: white;
		}

		.text .goal{
			position: absolute;
			left: 20px;
			top: 50%;
			transform: translateY(-50%);
		}

		.text .value{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	</style>
</head>
<body>
	<div class="bar-goal">
		<div class="bg"></div>
		<div class="text">
			<div class="goal">Avoir 50 followers</div>
			<div class="value">25 (50%)</div>
		</div>
	</div>
	<script>
		let label, goal, timer;

		let httpRequest = new XMLHttpRequest();
		httpRequest.open("GET", "{{ url_for('static', filename = 'json/goal.json') }}");
		httpRequest.onreadystatechange = function(){
			if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200){
				const data = JSON.parse(httpRequest.responseText);

				label = data["label"];
				goal = data["goal"];

				console.log(label, goal);

				document.querySelector(".bar-goal .goal").textContent = label;

				update();
				timer = setInterval(update, 10000);
			}
		}
		httpRequest.send();

		function update(){
			let httpRequest = new XMLHttpRequest();
			httpRequest.open("GET", "/info", true);
			httpRequest.onreadystatechange = function(){
				if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200){
					const data = JSON.parse(httpRequest.responseText);

					const value = data["followers_count"];

					const text = document.querySelector(".bar-goal .value");
					const bar = document.querySelector(".bar-goal .bg");
					const percent = value / goal;

					text.textContent = `${value} (${(100 * percent).toFixed(0)}%)`;
					bar.style.setProperty('--percent', `${Math.min(1, percent)}`);
				}
			}
			httpRequest.send();
		}
	</script>
</body>
</html>