<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>OBS - Overlay - Labels</title>
	<style>
		body{
			background-color: rgba(0,0,0,0);
			overflow: hidden;
			margin: 0 auto;
			color: white;
			font-family: Arial, Helvetica, sans-serif;
		}

		.labels{
			position: relative;
			width: 1280px;
			height: 60px;
			text-shadow: 2px 2px black;
		}

		.labels > .container{
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.labels > .container > *{
			flex: 1;
		}

		.labels .last{
			display: flex;
			justify-content: left;
		}

		.labels .counters{
			display: flex;
			justify-content: space-evenly;
		}

		.labels .counters > *{
			flex: 1;
		}

		.labels .info-group{
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		.labels .info-group > *{
			padding: 0 20px;
		}

		.labels .label{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20px;
			width: 100px;
		}

		.labels .value{
			font-weight: bolder;
			font-size: 35px;
			text-align: right;
			flex: 1;
		}
	</style>
</head>
<body>
	<div class="labels">
		<div class="container">
			<div class="last">
				<div class="info-group" id="last_follower">
					<div class="label">Dernier follower</div><div class="value">{{ info["last_follower"] }}</div>
				</div>
			</div>
			<div class="counters">
				<div class="info-group" id="followers_count">
					<div class="label">Total followers</div><div class="value">{{ info["followers_count"] }}</div>
				</div>
				<div class="info-group" id="viewers_count">
					<div class="label">Total viewers</div><div class="value">{{ info["viewers_count"] }}</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function update(){
			const httpRequest = new XMLHttpRequest();
			httpRequest.open("GET", "/info", true);
			httpRequest.onreadystatechange = function(){
				if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200){
					const data = JSON.parse(httpRequest.responseText);

					for (id in data){
						const element = document.getElementById(id).childNodes[2];
						element.textContent = data[id];
					}
				}
			}
			httpRequest.send();
		}
		
		update();
		const timer = setInterval(update, 10 * 1000);
	</script>
</body>
</html>